@font-face {
  font-family: 'fontName';
  src: url('../fonts/AvantGarde/AvantGardeLT-ExtraLight.woff2') format('woff2'),
  url('../fonts/AvantGarde/AvantGardeLT-ExtraLight.woff') format('woff'),
  url('../fonts/AvantGarde/AvantGardeLT-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'fontName';
  src: url('../fonts/LatoBold/LatoBold.eot') format('woff2'),
  url('../fonts/LatoBold/LatoBold.woff') format('woff'),
  url('../fonts/LatoBold/LatoBold.ttf') format('truetype');
}

@font-face {
  font-family: 'fontName';
  src: url('../fonts/LatoRegular/LatoRegular.eot') format('woff2'),
  url('../fonts/LatoRegular/LatoRegular.woff') format('woff'),
  url('../fonts/LatoRegular/LatoRegular.ttf') format('truetype');
}

