//fonts
$avant : 'AvantGardeLT-ExtraLight', sans-serif;
$bold : 'LatoBold', sans-serif;
$regular : 'LatoRegular', sans-serif;

//colors
$dark : #353434;
$dark-lighter : #3b3b3b;
$white : #fff;
$black : #000;
$headers-color : #767676;
$headers-main-color : #4f4f4f;
$h2-color : #6b6b6b;
$p-color : #9e9e9e;
$p-color-white : #eeeeee;
$icons-bg : #65bf95;
